<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="Name.cshtml" method="POST">
        Name: <input name="name" type="text" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
