
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="RulesRedirect.cshtml" method="POST">
        Name: <input name="rule" type="text" />
        <input type="submit" value="Submit" />
    </form>
    <a href="RulesGet.cshtml">Rule list</a>
</body>
</html>
